footer{
  .footer-upper{
    background-color: $grey;
    .inner-container{
      padding: 50px 150px;

      .menu-icons{
        &:first-of-type{
          margin-right: 20px;
        }
        &:last-of-type{
          margin-left: 20px;
        }
        .menu-title{
          border-bottom: 2px solid $white;
          color: $white;
        }
      }
      .search-input{
        border: none;
        text-align: center;
        background-color: $grey-d;
        color: $white;
        font-family: $raleway;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $white;
          opacity: 1; /* Firefox */
          font-family: fontello;
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: $white;
          font-family: fontello;
          //font-family: $raleway;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
          color: $white;
          font-family: fontello;
          //font-family: $raleway;
        }
      }
      .icon-search{
        right: 0;
      }
    }
  }
  .footer-bottom{
    background-color: $grey-d;
  }
  ul{
    display: flex;
    justify-content: space-between;
    li{
      a{
        color: $white !important;
        &:hover{
          text-decoration: none;
          color: rgba(255,255,255,.6) !important;
        }
      }
    }
  }

}