header{
  .wrapper{
    border-bottom: 2px solid $grey-l;
    .container{margin-bottom: -1px;}
    .hdr-logo{
      img{
        width: 250px;
      }
    }
    .tools-area{
      .tools-area-row{
        .corner-btn{
          border: 2px solid $grey-d;
          text-decoration: none;
          &:hover{text-decoration: none;}
        }
        .tool-btn{
          cursor: pointer;
          border-left: 2px solid $grey-l;
          border-top: 2px solid $grey-l;
          &:hover{
            color: $grey;
          }
          &:last-of-type{
            border-right: 2px solid $grey-l;
          }
          &.btn-large{
            width: 100px;
            .icon-advantage{
              &:hover{
                color: rgba(196,12,12,.6);
              }
              &:before{
                position: absolute;
                left: 0;
                top: 0;
                height: 40px;
                margin: 0;
                width: 100px;
                line-height: 40px;
                font-size: 75px;
              }
            }
          }
          .language-select{
            li{
              display: none;
              &.current{
                display: block !important;
              }
            }
          }
          .language-icon{
            width: 18px;
            height: 18px;
            object-fit: cover;
            margin: auto 8px auto 4px;
            border-radius: 200px;
          }
        }
      }
    }
  }
  #menu{

  }
}