@charset "UTF-8";
.page-template-product{
  .tabs-responsive{
    background-color: $black-l;
    .tab-name{
      cursor: grab;
      background-color: $white-d;
      color: $grey-d;
      &.active{
        background-color: $grey-d;
        color: $white-d;
      }
    }
  }
  .content a{
    font-family: $raleway;
    font-weight: $fsemi-bold;
    color: $red;
  }
  .sidebar-product{
    width: 30%;
    img{
      max-width: 100%;
    }
    .tab-name{
      cursor: pointer;
      border-bottom: 1px solid $grey-d;
      &:first-of-type{
        border-top: 1px solid $grey-d;
      }
      text-transform: uppercase;
    }
    .isbn{
      font: $fbold 15px $osans;
    }
    .file-btn{
      background-color: $grey-l;
      color: $black;
      text-transform: uppercase;
      font: $fbold 14px $raleway;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .content{
    width: 70%;
    ul {
      padding-left: 0;
      li {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 8px;
        margin-bottom: 8px;
        &:before {
          display: inline;
          content: '•';
          color: $red;
          margin-right: 6px;
        }
      }
    }
    .author-container{
      height: auto;
      overflow: auto;
      .author{
        float: left;
        background-color: $white-d;
        img{
          width: 150px;
          height: 150px;
          object-fit: cover;
        }
        .quote{
          font: $fregular 14px $raleway;
          font-style: italic;
        }
        .name{
          font: $fblack 16px $raleway;
          text-align: center;
        }
      }
    }
  }
  .navigation{
    border-top: 2px solid $grey-l;
    a{
      color: $black;
      &:hover{
        color: $grey-d !important;
      }
      text-transform: uppercase;
      &:hover{
        text-decoration: none;
      }
    }
    .thumbnail{
      width: 130px;
      .filter{
        position: absolute;
        z-index: 9;
        background-color: rgba(0,0,0,0.25);
        .icon{
          color: $white;
          font-size: 45px;
        }
      }
    }
    .text-content{
      flex: 1;
      background-color: $white-d;
      .navigation-btn{
        font: $fmedium 14px $raleway;
      }
      .navigation-title{
        font: $fblack 16px $raleway;
      }
    }
  }
}