@charset "UTF-8";
.image_text_fullcenter{
  width: 100%;
  height: 500px;
  background-size: 100%;
  background-position: center;
  .filter{
    background-color: $filter;
    top: 0;
    left: 0;
  }
  .textContainer{
    position: relative;
    z-index: 5;
    .pre-title{
      text-transform: uppercase;
      font: $fblack 32px $raleway;
      color: $white;
    }
    .title{
      text-transform: uppercase;
      font: $fbold 100px $osans;
      letter-spacing: 0.6px;
      color: $white;
    }
    .title-strong{
      text-transform: uppercase;
      font: $fblack 80px $raleway;
      color: $white;
    }
    .subtitle{
      font: $fmedium 21px $raleway;
      color: $white;
    }
  }
}
.section_title{
  .title{
    text-transform: uppercase;
  }
  .subtitle{}
}
.section_text{
  .title{
    text-transform: uppercase;
  }
  .subtitle{}
}
.section_list{
  .title{
    text-transform: uppercase;
  }
  .section_list_item{
    list-style: none;
    &:before{
      display: inline;
      content: '•';
      color: $red;
    }
  }
}
.image_text_tooltip{
  overflow: auto;
  .custom-card {
    float: left;
    //background-color: #5a6268;
    &.size-4x4 {
      width: 100%;
      height: 500px;
    }
    &.size-4x2 {
      width: 100%;
      height: 250px;
    }
    &.size-2x4 {
      width: 50%;
      height: 500px;
      @include media-breakpoint-down(md){
        width: 100%;
      }
    }
    &.size-2x2 {
      width: 50%;
      height: 250px;
      @include media-breakpoint-down(md){
        width: 100%;
      }
    }
    .tooltipContainer {
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-position: center;
      .tooltip {
        background-color: $tooltip-bg;
        opacity: 1;
      }
    }
  }
}
.image_text_down{
  .custom-block{
    img{
      width: 100%;
      object-fit: cover;
      height: 265px;
    }
    @include media-breakpoint-down(md){
      width: 100%;
    }
  }
}
.image-link-file{
  img{
    height: 100%;
    object-fit: cover;
  }
  p{
    margin-top: auto;
  }
}
.breadcrumbs{
  a{
    color: $grey-d;
    &:hover{
      color: $black;
      text-decoration: none;
    }
  }
}
.menu_list{
  a{
    border: 2px solid $grey;
    color: $grey-d;
    text-transform: uppercase;
    font: $fbold 14px $raleway;
    &:hover{
      background-color: $grey;
      color: $white;
      text-decoration: none;
    }
  }
}
.icon_text{
  border-top: 2px solid $grey-l;
  border-bottom: 2px solid $grey-l;
  .icon{
    background-color: $blue-icon;
    color: $white;
    display: flex;
    width: 60px;
    height: 60px;
    font-size: 30px;

    &:before{
      width: 60px;
      margin: auto !important;
    }
  }
}
.icons{
  text-align: center;
  .icon-card{
    background-color: $white-d;
    .icon{
      color: $red;
      font-size: 45px;
    }
  }
  .icon-title{
    font: $fbold 15px $raleway;
    color: $black;
  }
}
.books-content{
  .books-content-title{
    font: $fmedium 22px $raleway;
    text-transform: uppercase;
  }
  .books-content-row{
    .book-item{
      .empty-image{
        border: 1px solid $black;
        margin: 8px;
        height: calc(100% - 8px);
        .index{
          color: $black-l !important;
        }
      }
      img{
        max-height: 200px;
        object-fit: cover;
      }
    }
  }
}
.separator{
  border-bottom: 2px solid $grey-l;
}
.product-menu-down{
  .product-menu-image{
    object-fit: cover;
    max-height: 350px;
  }
  .title{
    font: $fbold 22px $raleway;
    text-transform: uppercase;
  }
  .button{
    background-color: $white-d;
    border: 2px solid $grey-l;
    &.white{
      background-color: $white !important;
    }
  }
  a{
    color: $grey-d !important;
    &:hover{ color: $grey !important; }
    text-transform: uppercase;
    font: $fextra-bold 14px $raleway !important;
    .icon{
      font-size: 18px;
    }
  }
}
